{% extends 'base.html'%}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="banner">
                <div class="banner-text">
                    <h1>TODO</h1>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-md-6">
        <form method="POST" class="mb-3  shadow" >
            {% csrf_token %}
            <div class="form-group">
    <input type="text"  class="form-control" name="Task" placeholder=" Taskname">
    </div>
<div class="form-group" >
     <input type="text" class="form-control" name="priority" placeholder="Enter your priority">
</div>
            <div class="form-group" >
     <input type="date" name="date" placeholder="Enter your date">
</div>

    <input type="submit" class="btn btn-success" >
        </form>


    </div>


<div class="col-md-6">
    <h5>Task to be completed</h5>
    {% for i in task1 %}
    <div class="show card">
        <div class="card-body">
            <h5 class="title"> {{i.name}}</h5>
            <p><b> {{i.priority}}</b></p>
            <p><b> {{i.date}}</b></p>
            <a class="btn btn-danger" href="{% url 'delete' i.id %}" > Done</a>
            <a class="btn btn-success" href="{% url 'update' i.id %}" > Update</a>
        </div>
    </div>
    <br>
    {% endfor %}
</div>
    </div>
</div>

{% endblock %}
